<?xml version="1.0" encoding="utf-8"?>
<configuration><configSections>
                   <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
                       <section name="AeroSenseWavveTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
                   </sectionGroup>
               </configSections>
               <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup><userSettings>
        <AeroSenseWavveTool.Properties.Settings>
            <setting name="BleWiFiSSID" serializeAs="String">
                <value>ssid</value>
            </setting>
            <setting name="BleWiFiPassword" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="BleServerIP" serializeAs="String">
                <value>1.2.3.4</value>
            </setting>
            <setting name="BleServerPort" serializeAs="String">
                <value>8899</value>
            </setting>
            <setting name="BleStaticIP" serializeAs="String">
                <value>192.168.1.100</value>
            </setting>
            <setting name="BleStaticGateway" serializeAs="String">
                <value>192.168.1.1</value>
            </setting>
            <setting name="BleStaticMask" serializeAs="String">
                <value>255.255.255.0</value>
            </setting>
            <setting name="BleStaticDns1" serializeAs="String">
                <value>8.8.8.8</value>
            </setting>
            <setting name="BleStaticDns2" serializeAs="String">
                <value>192.168.1.2</value>
            </setting>
        </AeroSenseWavveTool.Properties.Settings>
    </userSettings>
</configuration>
