NEXTAUTH_URL=http://localhost:3002
NEXTAUTH_SECRET=change_me_nextauth_secret
NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_SOCKET_URL=http://localhost:3000
NEXT_PUBLIC_LIVEKIT_URL=ws://localhost:7880
